*{
    margin: 0;
    padding: 0;
}


.headerContainer{
    width: 100%;
    background-color: grey;
    padding: 3% 0;
}
.headerContainer p{
    font-size: 45px;
    color: white;
    text-align: center;
}